/* user.css */

/* Add general styles for responsiveness */
@media screen and (max-width: 768px) {
    .main {
        padding: 20px; /* Add padding for smaller screens */
    }

    .upper-1 {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center elements horizontally */
    }

    h1 {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
    }

    .mail {
        margin-top: 20px; /* Add margin for smaller screens */
    }

    .box-1 {
        margin-bottom: 20px; /* Add margin for smaller screens */
    }

    .upper {
        flex-direction: column; /* Stack elements vertically */
    }

    .box-2 {
        width: 100%; /* Make the plot full width on smaller screens */
    }

    .cards {
        padding: 20px; /* Add padding for smaller screens */
    }

    .card-box {
        display: flex;
        flex-wrap: wrap; /* Wrap cards on smaller screens */
        justify-content: center; /* Center cards horizontally */
    }

    .card {
        width: calc(50% - 20px); /* Set card width for smaller screens */
        margin: 10px; /* Add margin between cards */
    }
}

/* Add styles for larger screens if needed */
@media screen and (min-width: 992px) {
    /* Add specific styles for larger screens */
}

/* Add styles for extra-large screens if needed */
@media screen and (min-width: 1200px) {
    /* Add specific styles for extra-large screens */
}
